<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/head%>
</head>
<body>
    <header>
        <% include partials/header %>
    </header>
    <main>
  <img src="/pexels-photo-843256.jpeg" alt="couple red dress">
        <button><a href="/">Sign in</a></button>
        <button><a href="/users/registration">Sign up</a></button>
        <h2>5700 vrijgezellen zijn al lid van body buddies</h2>
        <div class="container">
            <article>
                <img src="/pexels-photo-1552242.jpeg" alt="">
                <ul>
                    <li>
                        <p>Naam: Suzanne de Boer</p>
                    </li>
                    <li>
                        <p>Leeftijd: 22 jaar</p>
                    </li>
                    <li><q>Ik ben op zoek naar een spontane man die samen met mij kan sporten</q></li>
                </ul>
            </article>
            <article>
                <img src="/pexels-photo-1020016.jpeg" alt="">
                <ul>
                    <li>
                        <p>Naam: Tim Kok</p>
                    </li>
                    <li>
                        <p>Leeftijd: 25 jaar</p>
                    </li>
                    <li><q>Ik ben fanatiek en zal je niet laten winnen, maar zoek wel een challenge</q></li>
                </ul>
            </article>
            <article>
                <img src="/pexels-photo-1587646.jpeg" alt="">
                <ul>
                    <li>
                        <p>Naam: Vera Maasen</p>
                    </li>
                    <li>
                        <p>Leeftijd: 36 jaar</p>
                    </li>
                    <li><q>Ik ben niet iemand die stopt bij een uitdaging</q></li>
                </ul>
            </article>
        </div>
    </main>
    <footer> 
    <% include partials/footer %>
    </footer>
</body>
</html>