<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/head%>
</head>
<body class="backcolor"> 
   <form action="/users/registration" method="POST">
        <label for="username">Username</label>
        <input name="username" id="username" type="text">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
        <input value="Submit" type="submit">

</form> 
</body>
</html>