<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/head%>
</head>
<body class="backcolor">
<form action="/users/registration" method="POST">
        <label for="name">Name</label>
        <input name="name" id="name" type="text">
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email">
        <label for="username">Username</label>
        <input name="username" id="username" type="text">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
        <label for="password2">Confirm password</label>
        <input name="password2" id="password2" type="password">
        <input value="Submit" type="submit">

</form>
</body>