<!DOCTYPE html>
<html lang="en">
<head>
    <%include partials/head%>
</head>
<body class="backcolor">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <h1>Sign Up</h1>
        <form action="/insert" method="post">
            <h3>Gegevens</h3>
            <label for="name">Name</label>
            <input name="name" id="name" type="text">
            <label for="email">E-mail</label>
            <input name="email" id="email" type="email">
            <label for="birthdate">Date of birth</label>
            <input name="birthdate" id="birthdate" type="date">
            <%# <label for="gender">Gender</label>
            <label for="female">Female</label>
            <input value="female" name="gender" id="female" type="radio">
            <label for="male">Male</label>
            <input value="male" name="gender" id="male" type="radio">
            <label for="username">Usersnaam</label>
            <input name="username" id="username" type="text">
            <label for="password">Password</label>
            <input name="password" id="password" type="password"> %>
            <button type="submit">Insert</button>
        </form>
        <%# <h3>Ik zoek naar</h3>
        <form action="">
            <label for="genderp">Geslacht</label>
            <label for="male">Male</label>
            <input value="male" name="genderp" id="male" type="radio">
            <label for="female">Female</label>
            <input value="female" name="genderp" id="female" type="radio">
            <label for="agemin">Minimale age</label>
            <input name="agemin" id="agemin" type="number">
            <label for="agemax">Maximale age</label>
            <input name="agemax" id="agemax" type="number">
        </form>
        <h3>Workout</h3>
        <form action="">
            <label for="workoutdi">Workout</label>
            <textarea name="workoutdi" id="workoutdi" cols="55" rows="10"></textarea>
            <label for="upload">Upload img/mp4</label>
            <input name="upload" type="file">
            <label for="weight">Weight</label>
            <input name="weight" id="weight" type="number">
        </form>
        <p>Already have an account?</p>
        <a href="">log in here</a>
        <button id="login"><a href="">Sign up</a></button>

    </main> %>
        <footer> 
    <% include partials/footer %>
    </footer>
</body>
</html>